.header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title {
    flex-grow: 1;
}

.list {
    display: flex;
    flex-direction: column;
    padding: 24px 0;
    flex-grow: 1;
}

.item + .item {
    margin-top: 12px;
}

.footer {
    padding-top: 12px;
    border-top: 1px solid var(--g-color-line-generic);
    padding-bottom: 32px;
    display: flex;
    flex-direction: row;
}

.button {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
}
